@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@media (max-width: 767px) {
    header {
        height: 10vh;
        background-color: black;
    }
    
    header img {
        height: 90px ;
        width: 90px; 
        padding-bottom: 5px;
    }
    
    html, body {
        font-family: 'inter';
    }
    
    .contenedor {
        background-image: url(img/portadamobile.png);
        background-repeat: no-repeat;
        background-size: 100%, 831px;
        height: 1500px;
        width: 100%;

    }

    .btn {
        color: white;
        background-image: linear-gradient(to top,rgb(18, 48, 130), rgb(23, 62, 168));
        margin-left: 25%;
        width: 45% ;
        height: 4%;
        font-size: 28px;

        border: none;
        border-radius: 0%;
    }
    
    .btn:hover {
        background-image: none;
        background-color: rgb(48, 49, 59);
        color: white;
    }

h1 {
    font-size: 42px;
    font-weight: 900;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;

}

h2{
    text-align: left;
    padding-left: 30px;
    font-size: 28px;
}

.ganaentradas {
        margin-top: -45%;
        background-color: rgb(16, 17, 25);
        color: white;
        padding-top: 75px;
        padding-bottom: 75px;
        font-weight: 100;
    }
    
span{
        color: rgb(26, 72, 192);
    }
    
h3 {
        font-size: 16px;
        text-align: center;
    
    }
    
    form, input {
        color: white;
    }
    
    .cards {
        display: flex;
        color: white;
        background-color: #393A43 ;
        box-shadow: 41px 16px 0px 0px #202023;
        width: 80%;
        height: 90%;
        margin: 10px;
    }
    
    .fondo {
        background-color: #E6E6E6 ;
        margin-top: -10px;
        padding-top: 10px;
    }
    
    .titulo {
        background-color: #E6E6E6 ;
        margin: 10px;
        font-size: 32px;
        font-weight: bold;
        margin-left: 70px;
        margin-top: 30px;
        margin-bottom: -10px;
    }
    
    .linea {
        background-color: #405898;
        padding: 2px;
        margin: 9px;
        margin-left: 70px;
        margin-right: 35px;
    }
    
    .contenendortarjetas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: #E6E6E6 ;
        padding: 20px;
        height:100%;
        margin-top: -10px;
    }
    
    .artmobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 45%;
        margin: 10%;
        margin-left: 20%;
    }
    
    .artista img {
        width: 260px;
        height: 342px;
        margin-left: 5px;
        margin-top: -75px;
        border-radius: 40%;
    }
    
    
    .cuadrado {
        width: 260px; 
        height: 250px; 
        background: #101119;
        border-radius: 45%;
        margin-left: 60px;
        margin-top: 70px;
    }
    
    .nombre {
        font-size: 24;
         font-weight: 600;
         margin: 60%;
         padding-top: 100px;
         margin-top: -90px;
    }
    
    .ofrece {
        background-color: #2A2A2E;
        background-size: 240px, 140px;
        font-size: 18px;
        font-weight: 600;  
        margin-left: 25px;
        margin-top: -55%;
        padding-right: 55px;
        padding-left: 5px ;
        text-align: left;
        width: 110%;
    }
    
    .presentacion {
        background-color: #2A2A2E;
        font-size: 15px;
        font-weight: 150;
        margin-bottom: 190px;
        margin-top: -1%;
        width: 110%;
    
        padding: 5px ;
        padding-top: 10px;
        padding-bottom: 14px;
        text-align: left;
    }
    
    .nombreestadio {
        background-color: #202023;
        font-size: 20px;
        font-weight: 600;
        width: 90%; 
        margin-top: 70%;
 
    }
    
    .nombreestadiodillom {
        background-color: #202023;
        font-size: 20px;
        font-weight: 600;
        margin-top: 28%;
    
        width: 90%; 
        padding-left: 5px;
        padding-top: 5%;
        padding-bottom: 4%;
    }
    
    .direccion {
        background-color: #202023;
        font-size: 16px;
        font-weight: 150;
        padding-left: 3%;
        margin-right: -10%;
        padding-right: 93%;
        padding-bottom: 3%;
        width: 90%;
        margin-top: 2%;
    }

    .mapdes {
        display: none;
    }
    
    .titulo {
        background-color: #E6E6E6;
    }
       
    .sorteo {
        display: flex;
        color: white;
        background-color: #0E0E11;
        padding-top: 0px;
        padding-bottom: 35px;
        margin-top: -10px;
        height: 440px;
        width: 100%;
    }
    
    .titulosobreel {
        text-align: left;
        font-size: 34px;
        font-weight: bold;
        margin-left: 1%; 
        width: 100%; 
    }
    
    .infosorteo {
       margin-top: 50px;
       font-size: 28px;
       font-weight: 400;
       width: 1000px;
    }
    
    .sorteo img{
        height: 120px;
        width: 120px;
    }
    
    .izq {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin-left: 10%;
    }
    
    .der {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        width: 50%;
        margin-left: -1%;
    }
    
    .fondo2 {
        background-color:#0E0E11 ;
        margin-top: 0px;
        padding-top: 10px;
    }
    
    .titulo2 {
        background-color: #0E0E11 ;
        margin-top: 10px;
        font-size: 32px;
        font-weight: 600;
        color: white;
        margin-left: 75px;
    }
    
    .linea2 {
        background-color: #40507A;
        padding: 2px;
        margin: 9px;
        margin-left: 75px;
        margin-right: 35px;
    }
    
    .ticket {
            margin-top: 1%;
    }
        
    .calendario {
            margin-left: -0%;
    }
    
    .completa {
        width: 100%;
        margin-left: 10%;
        margin-right: 5%;
        font-size: 40px;
        margin-top: 10%;
        font-weight: 800;
    }
     
    .mail {
        color: white;
    }
    
    .form {
        width: 80%;
        margin-left: 10%;
       
        background-color: #101119;
        margin-top: 5%;
        padding-top: 30px;
        padding-bottom: 100px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 100px;
 
    }
    
    input[type="email"] {
        color: white;
        background-color: #101119;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 100%;
    }
    
    select {
        margin-bottom: 10px;
        margin-top: 10px;
        background: #101119;
        color: white;
        padding: 4px;
        border-top: none;
        border-right: none;
        border-left: none;
        width: 100%;
    }
    
    button[type="submit"] {
        color: white;
        background-image: linear-gradient(to top,rgb(18, 48, 130), rgb(23, 62, 168));
        margin-left: 25%;
        width: 50% ;
        padding: 4px;
        height: 4%;
        font-size: 28px;
        border: none;
        border-radius: 0%;
    }
    
    .bill {
     width: 450px;
     height: 200px;
     margin-left: 10%;
    }
    
    .feedback {
        background-color: black;
        color: white;
        padding: 4px;
    }
    
    .oculto {
        display: none !important;
    }
    
    footer {
        background: black;
        height: 200px;
        width: 100%;
    }

}








/* CAMBIO A DESKTOP */










@media (min-width: 767px) {
header {
    height: 20vh;
    background-color: black;
}

header img {
    height: 122px ;
    width: 122px; 
    padding-bottom: 5px;
}

html, body {
    font-family: 'inter';
}

.contenedor {
    margin-top: -48px;
    background-image :url(img/portada.png);
    background-repeat: no-repeat;
    background-size: 1660px, 831px;
    background-position: -100px,0px;
    width: 100%;
    height: 831px;
}

.btn {
    color: white;
    background-image: linear-gradient(to top,rgb(18, 48, 130), rgb(23, 62, 168));
    margin-left: 35px;
    width: 442px ;
    height: 92px;
    font-size: 44px;
    border: none;
    border-radius: 0%;
}

.btn:hover {
    background-image: none;
    background-color: rgb(48, 49, 59);
    color: white;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    text-align: left;
    padding-left: 35px;
    padding-top: 200px;
}

h2{
    text-align: left;
    padding-left: 35px;
    font-size: 36px;
}

.ganaentradas {
    background-color: rgb(16, 17, 25);
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
    font-weight: 100;
}

span{
    color: rgb(26, 72, 192);
}

h3 {
    font-size: 30px;
    text-align: center;

}

form, input {
    color: white;
}

.cards {
    display: flex;
    color: white;
    background-color: #393A43 ;
    box-shadow: 41px 16px 0px 0px black;
    width: 644px;
    height: 528px;
    margin: 10px;
}

.fondo {
    background-color: #E6E6E6 ;
    margin-top: -10px;
    padding-top: 10px;
}

.titulo {
    background-color: #E6E6E6 ;
    margin: 10px;
    font-size: 32px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: -10px;
}

.linea {
    background-color: #405898;
    padding: 2px;
    margin: 9px;
    margin-left: 70px;
    margin-right: 35px;
}
.artmobile {
    display: flex;

}
.contenendortarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #E6E6E6 ;
    padding: 20px;
    height:1304px;
    margin-top: -10px;
}

.artista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 10px;

}

.artista img {
    width: 260px;
    height: 342px;
    margin-left: 5px;
    margin-top: -75px;
    border-radius: 40%;
}

.estadio {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 300px;
    margin: 10px;
    margin-left: -5%;

}

.cuadrado {
    width: 260px; 
    height: 250px; 
    background: #101119;
    border-radius: 45%;
    margin-left: 60px;
    margin-top: 70px;


}

.nombre {
    font-size: 24;
     font-weight: 600;
     margin: 60%;
     padding-top: 100px;
     margin-top: -90px;


}

.ofrece {
    background-color: #2A2A2E;
    background-size: 240px, 140px;
    font-size: 18px;
    font-weight: 600;  
    margin-left: 25px;
    margin-top: -55%;
    padding-right: 55px;
    padding-left: 5px ;
    text-align: left;
    width: 110%;
}

.presentacion {

    background-color: #2A2A2E;
    font-size: 15px;
    font-weight: 150;
    margin-left: 25px;
    margin-bottom: 190px;
    margin-top: -1%;
    width: 110%;


    padding: 5px ;
    padding-top: 10px;
    padding-bottom: 14px;
    text-align: left;


}

.nombreestadio {
    background-color: #202023;
    font-size: 20px;
    font-weight: 600;
    margin-top: 28%;
    margin-right: -10%;
    width: 90%; 
    padding-left: 5px;
    padding-top: 5px;

}

.nombreestadiodillom {
    background-color: #202023;
    font-size: 20px;
    font-weight: 600;
    margin-top: 28%;
    margin-right: -10%;
    width: 90%; 
    padding-left: 5px;
    padding-top: 5%;
    padding-bottom: 4%;

}

.direccion {
    background-color: #202023;
    font-size: 16px;
    font-weight: 150;
    margin-right: 20px;
    padding-left: 5px;
    margin-left: 168px;
    margin-bottom: 100%;
    margin-right: -10%;
    padding-right: 3%;
    padding-bottom: 3%;
    width: 90%;

    margin-top: -10px;

}

.mapmobile {
    display: none;
}


.titulo {
    background-color: #E6E6E6;
}
   
.sorteo {
    display: flex;
    color: white;
    background-color: #0E0E11;
    padding-top: 0px;
    padding-bottom: 35px;
    margin-top: -10px;
    height: 440px;
    width: 100%;
}

.titulosobreel {
    text-align: left;
    font-size: 34px;
    font-weight: bold;
    margin-left: 1%; 
    width: 100%; 
}

.infosorteo {
   margin-top: 50px;
   font-size: 28px;
   font-weight: 400;
   width: 1000px;
}

.sorteo img{
    height: 120px;
    width: 120px;
}

.izq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-left: 10%;
}

.der {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 50%;
    margin-left: -1%;
}

.fondo2 {
    background-color:#0E0E11 ;
    margin-top: 0px;
    padding-top: 10px;
}

.titulo2 {
    background-color: #0E0E11 ;
    margin-top: 10px;
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin-left: 75px;
}

.linea2 {
    background-color: #40507A;
    padding: 2px;
    margin: 9px;
    margin-left: 75px;
    margin-right: 35px;
}

.ticket {
        margin-top: 1%;
}
    
.calendario {
        margin-left: -0%;
}

.completa {
    width: 50%;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
    font-weight: 800;
}
 
.mail {
    color: white;
}

.form {
    width: 50%;
    margin-left: 50%;
    margin-right: 10%;
    background-color: #101119;
    margin-top: -16%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px;
}

input[type="email"] {
    color: white;
    background-color: #101119;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
    background: #101119;
    color: white;
    padding: 4px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
}

button[type="submit"] {
    margin-left: 80px;
    margin-right: 80px;
}

.bill {
 width: 450px;
 height: 200px;
 margin-left: 35%;ç
}

.feedback {
    background-color: black;
    color: white;
    padding: 4px;
}

.oculto {
    display: none !important;
}

footer {
    background: black;
    height: 200px;
    width: 100%;
}



}